body {
    font-family: Arial, sans-serif;
    background-color: #e0e0e0;
    margin: 0;
    padding: 0;
    text-align: center;
}

.header {
    background-color: #333;
    color: white;
    padding: 10px;
}

.container {
    width: 90%;
    margin: 15px auto;
    background-color: #d0d0d0;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
    overflow: hidden;
}

.content {
    padding: 15px;
    background-color: white;
    text-align: left;
    margin-bottom: 15px;
}

.content h2 {
    border-bottom: 1px solid #333;
    padding-bottom: 5px;
}

.sidebar, .work-item, .education-item {
    background-color: #f0f0f0;
    padding: 15px;
    margin-bottom: 15px;
    border: 1px solid #333;
}

.sidebar h3, .work-item h3, .education-item h3 {
    margin-top: 0;
}

.sidebar a {
    display: block;
    color: #000;
    text-decoration: underline;
    margin-bottom: 8px;
}

.sidebar a:visited {
    color: purple;
    text-decoration: underline;
}

.footer {
    background-color: #555;
    color: white;
    padding: 10px 0;
    width: 100%;
    text-align: center;
}

/* Media Queries for Mobile Responsiveness */
@media only screen and (max-width: 575px) {
    .content {
        width: 100%;
        margin: 0 auto;
    }
    .sidebar, .work-item, .education-item {
        width: 100%;
    }
}
